<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Resultat de la recherche</title>
    <link rel="stylesheet" type="text/css"  th:href="@{../../css/style.css}"/>
</head>
<body>
<h1>Resultat de la recherche</h1>

<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Numero de secu</th>
            <th>Commentaires</th>
        </tr>
        <tr th:each ="patient : ${patients}">
            <td th:utext="${patient.id_patient}">...</td>
            <td th:utext="${patient.nom}">...</td>
            <td th:utext="${patient.prenom}">...</td>
            <td th:utext="${patient.num}">...</td>
            <td th:utext="${patient.commentaires}">...</td>
        </tr>
    </table>
</div>
</br>
</br>
<input type="button" name="add" onclick="location.href='http://localhost:8080/listPatient'" value="Revenir a la liste" />
</body>
</html>